*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 80%;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.first-task{
    width: 70px;
    height: 50px;
    background-color: black;
    margin: 5px;
}

.second-task{
    width: 70px;
    height: 50px;
    background-color: brown;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-task>span{
    color: bisque;
    font-size: 20px;
}

li{
    font-size: 20px;
}

.product-card{
    width: 250px;
    height: 320px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.product-card>h3::first-letter{
    text-transform: uppercase;
}

.product-card>img{
    width: 90%;
    height: 80%;
}

.product-card>span{
    font-size: 20px;
}