*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-top: 30px;
    margin: 0 auto;
    width: 90vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.card{
    width: 300px;
    background-color: rgb(46, 93, 152);
    color: #f8efed;
    padding: 15px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}